<!DOCTYPE html>
<html>
	<head>
		<!-- Basic page needs, according to Skeleton
		-------------------------------------------- -->
		<meta charset="utf-8">
		<title>MC Entropy</title>
		<meta name="description" content="">
		<meta name="author" content="Colin Wakeford">

		<!-- Mobile Specific Metas
		---------------------------- -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Font
		--------- -->
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
		
		<!-- CSS
		------------------------ -->
		<link rel="stylesheet" href="fw/sk/css/normalize.css">
		<link rel="stylesheet" href="fw/sk/css/skeleton.css">
		<link rel="stylesheet" href="fw/sk/css/custom.css">
	</head>

	<body>
		 <div class="container">
		 	<section class="header">
		 		<h2 class="title"> Welcome to the Domain of MC Entropy.</h2>
		 		<hr>
		 		<div class="title">
		 			<h5>A place of change and wonder</h5>
			 		<h5>let your mind float asunder</h5>
					<h5>and come back together</h5>
					<h5 id="bottom">Go forth and live unfettered!</h5>
				</div>
		 	</section>
	
	 		<div class="buttons">
	 			<a class="button" href="#">Demo</a>
		 		<a class="button" href="register.html">Register</a>
		 	</div>
		 	<hr>
		 	<div class="return">
		 		<p class="title"><h5>Been here before?</h5></pre>
		 		<a class="button" href="login.html">Log in</a>
		 	</div>
		 	<div class="footer">
			 	&copy; Colin Wakeford 2016
		 	</div>
	         </div>
		                                        		
	</body>
</html>
