$var title: MC Entropy

<div class="container">
 <section class="header">
   <h2 class="title"> Welcome to the Domain of MC Entropy.</h2>
   <hr>
   <div class="title">
     <h5>A place of change and wonder</h5>
     <h5>let your mind float asunder</h5>
     <h5>and come back together</h5>
     <h5 id="bottom">Go forth and live unfettered!</h5>
   </div>
 </section>

 <div class="buttons">
   <a class="button" href="#">Demo</a>
   <!--<a class="button" href="register">Register</a>
  USE THIS V AND NOT THIS ^, LET'S YOU PASS DATA-->
   <form action="register" method="GET">
             <input type="submit" name="register" value="Register"/>
    </form>
 </div>
 <hr>
 <div class="return">
   <p class="title"><h5>Been here before?</h5></pre>
   <a class="button" href="login.html">Log in</a>
 </div>
 <div class="footer">
   &copy; Colin Wakeford 2016
 </div>
</div>
